<f:renderFlashMessages class="csc-frame-frame1" style="color: #ff0000;" />
<!--
	Use {googleMapsApi.apiNotLoaded} and {googleMapsApi.pluginNotLoaded} if there are more than one map one the page. 
-->
<f:if condition="{mapPlugin.apiNotLoaded}"><script type="text/javascript" src="{mapPlugin.printApiUrl}"></script></f:if>
<f:if condition="{mapPlugin.pluginNotLoaded}"><script type="text/javascript" src="{mapPlugin.printPluginFile}"></script></f:if>
<f:if condition="{mapPlugin.markerClusterNotLoaded}"><script type="text/javascript" src="{mapPlugin.printMarkerClusterUrl}"></script></f:if>
<!--
	Use f:escape to prevent HTML formatting. 
-->
<f:escape type="" value="{mapPlugin.printCanvas}" />
<script type="text/javascript"><!--
<f:escape type="" value="{mapPlugin}" />
--></script>
<f:if condition="{mapPlugin.searchControl}">
	<form action="#" methode="GET" onsubmit="{mapPlugin.pluginMapObjectIdentifier}.searchByAddress(this.searchAddressField.value); return false;">
		<fieldset>
			<legend><f:translate key="searchLegend" /></legend>
			<label for="searchAddressField"><f:translate key="searchLabel" /></label>
			<input id="searchAddressField" name="searchAddressField" type="text"></input>
			<input id="searchAddressSubmit" name="searchAddressSubmit" type="submit" value="{f:translate(key: 'searchButton')}"></input>
		</fieldset>
	</form>
</f:if>
<f:if condition="{map.categories}">
	<h2>{map.title}</h2>
	<f:render partial="CategoryList" arguments="{categories: map.categories}" />
</f:if>