<f:for each="{categories}" as="category">
	<ul>
		<li>
			<h3><f:if condition="{category.icon}"><f:image src="{category.icon}" width="{category.iconWidth}" height="{category.iconHeight}" alt="{category.title}" /> </f:if>{category.title}</h3>
			<f:format.html>{category.description}</f:format.html>
			<ul>
				<f:for each="{category.layers}" as="layer">
						<f:for each="{layer.items}" as="item">
							<li>
								<f:if condition="{item.itemOptions.icon.url}"><f:image src="{item.icon}" width="{item.iconWidth}" height="{item.iconHeight}" alt="{item.title}" /> </f:if>
								<f:if condition="{item.infoWindowOptions.content}">
									<f:then>
										<a href="#" onclick="javascript: {item.mapControllFunctions.openInfoWindow}; return false;">{item.title}</a><f:if condition="{item.position.latitude}"> ({item.position.latitude}, {item.position.longitude})</f:if>
									</f:then>
									<f:else>
										{item.title}<f:if condition="{item.position.latitude}"> ({item.position.latitude}, {item.position.longitude})</f:if>
									</f:else>
								</f:if>
								<br />
								[<a href="#" onclick="javascript: {item.mapControllFunctions.panTo}; return false;"><f:translate key="panTo" /></a>]
								 [<a href="#" onclick="javascript: {item.mapControllFunctions.fitBounds}; return false;"><f:translate key="fitBounds" /></a>]
								 [<a href="#" onclick="javascript: {item.mapControllFunctions.userFunction}; return false;"><f:translate key="userFunction" /></a>]
							</li>
						</f:for>
				</f:for>
			</ul>
			<f:render partial="CategoryList" arguments="{categories: category.subCategories}" />
		</li>
	</ul>
</f:for>