<div style="padding: 5px 0;">
	<textarea id="{currentField.itemFormElID}" name="{currentField.itemFormElName}" rows="1" onchange="{currentField.fieldChangeFunc}"{currentField.onFocus}>{currentField.itemFormElValue}</textarea> 
	<label for="{map.searchFieldId}" style="margin-left: 5px;"><f:translate key="LLL:EXT:ad_google_maps/Resources/Private/Language/MapDrawer/locallang.xml:tx_adgooglemaps_mapdrawer.searchByAddress" /></label> 
	<input id="{map.searchFieldId}" name="{map.searchFieldId}" /> 
	<input id="{map.searchButtonId}" type="button" value="{f:translate(key: 'LLL:EXT:ad_google_maps/Resources/Private/Language/MapDrawer/locallang.xml:tx_adgooglemaps_mapdrawer.search')}" />
</div>
<div id="{map.canvasId}" style="width: {map.canvasWidth}; height: {map.canvasHeight}; border: 1px solid #999;"></div>
<script type="text/javascript">
	Ext.onReady(function(){
		<f:escape type="" value="var options = {map.options};" />
		<f:escape type="" value="window.{map.objectId} = new TYPO3.{map.className}(options);" />
	});
</script>