<form action="#" methode="GET" onsubmit="{googleMapsPlugin.pluginMapObjectIdentifier}.searchByAddress(this.searchAddressField.value); return false;">
	<fieldset>
		<legend><f:translate key="searchLegend" /></legend>
		<label for="searchAddressField"><f:translate key="searchLabel" /></label>
		<input id="searchAddressField" name="searchAddressField" type="text"></input>
		<input id="searchAddressSubmit" name="searchAddressSubmit" type="submit" value="{f:translate(key: 'searchButton')}"></input>
	</fieldset>
</form>